<head>
    <link rel="stylesheet" href="/stylesheets/review.css" />
</head>
<main>
    <h3>My Document Hashes</h3>
    <div class="row" id ="review-page">
        {{# if files}} 
        <i class="material-icons green-text tiny">place</i>= Added to blockchain   <i class="material-icons red-text tiny">place</i>= Not added to blockchain
        <ul class="collapsible popout" data-collapsible="accordion">
        {{# each files}}
            <li id={{ index }}>
      			<div class="collapsible-header">
                    {{# if this.contractAddress}}
                    <i class="material-icons green-text">place</i>
                    {{ else }}
                    <i class="material-icons red-text">place</i>
                    {{/ if}}
{{!-- 
                    <i class="material-icons red-text" id="icon{{ txHash }}">place</i> --}}
      				<p>
	      				<u>{{ originalName }}</u> <br>
	      				Hashed Document:  <br> 
	      				<b>{{ hash }}</b>
      				</p>
      			</div>

      			<div class="collapsible-body" id="2">
                        <span style="cursor: pointer;" class="secondary-content"><i name="close" class="material-icons right red-text" id="{{ hash }}">close</i></span>

                    <div id="modal1" class="modal mod{{ index }}">
                        <div class="modal-content">
                            <h4>NOTICE:</h4>
                            <p>Deleting this hash will ONLY delete it from your review folder, the hash will not be deleted from our server OR the Ethereum Blockchain</p>
                        </div>
                        <div class="modal-footer">
                            <a style="margin-right:20px;"class="modal-action modal-close waves-effect btn-flat grey white-text">Cancel</a>
                            <a name="clickDelete" id= "del{{ index }}" class="modal-action modal-close waves-effect waves-red btn-flat red white-text">Delete</a>
                        </div>
                    </div>

                    <span>
                        <p>
                            Time file was hashed: <b>{{ time }} (UTC)</b> </br>
                        </p>
                    </span>
                    <span>
                        {{# if txHash }}
                            <p>
                                Tx Hash: <a href="https://etherscan.io/tx/{{ txHash }}" target="_blank"><b><span id="getTxHash">{{ txHash }}</span></b></a>
                            </p>
                            {{!-- if the hash exists but the contract address doesnt, do this --}}
                            {{# if contractAddress}}
                            {{ else }}
                                <div class="row">
                                    <img src="/images/ajax-loader.gif" id="loader" width="30" height="30" style="display:none"/>
                                    <button name = "mined" class="loaderButton btn-flat grey white-text" id="{{ txHash }} {{ hash }}">Check if contract has been mined</button>
                                </div>
                                <div class="row">
                                    <p style="margin-top:-23px;"><small>*It could take a few hours for the contract to be mined</small></p>
                                </div>
                            {{/ if}}
                        {{ else }}
                            <a href="/info/{{ hash }}">
                                Click here to add this hash to the Ethereum Blockchain
                            </a>
                        {{/ if}}
                        {{!-- if the contract address exists do this --}}
                        {{# if contractAddress }}
                            <p>
                                Contract Address: <b>{{ contractAddress }}</b>
                            </p>
                        {{/ if}}
                    </span>
                </div>
    		</li>
        {{/ each}} 
         </ul>
        {{ else }}
        <h4>Your hashes documents will be here</h4> 
        {{/ if}}

    </div>
</main>